@value darkgray: #2c3e50;

select {
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: darkgray;
    background-image: none;
    cursor: pointer;
}